.mouseHover {
  filter: none;
  width: 100%;
  mix-blend-mode: normal;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}




.mouseNotHover {
  opacity: .1;
  width: 100%;
  filter: grayscale(100%) contrast(200%);
  ;
  mix-blend-mode: luminosity;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}


.logoLanding {

  position: absolute;
  width: 20vw;
  margin-top: 30vh;
  margin-left: 35vw;
  z-index: 1000;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.logoLanding:hover {

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 25vw;

}