.mouseHover {
  filter: none;
  min-width: 100vw;
  min-height: 100vh;
  mix-blend-mode: normal;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  
}




.mouseNotHover {
  opacity: .1;
  min-width: 100vw;
  min-height: 100vh;
  filter: grayscale(100%) contrast(100%);
  ;
  mix-blend-mode: luminosity;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  

}

.logoLanding {

  position: absolute;
  width: 7vw;
  align-self: center;
  z-index: 1000;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}


.logoLanding:hover {

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 9vw;
  opacity: 0.7;
  filter: grayscale(90%);
  
  

} 

.landingContainer{
  overflow-x:hidden;
  overflow-y:hidden;
  display: flex;
  justify-content: center;
}