@font-face {
  font-family: gotBold;
  src: url(Gotham-Medium.otf);
}


@font-face {
  font-family: gotLight;
  src: url(Gotham-Light.otf);
}
.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.demo-width{
width: 70vw;
}


body {
  background: blue;
}

.box {
  height: 100vh;

}
.texteEmail{
  position: absolute;
  font-family: gotBold;
  color: #FFDF66;
  font-size: 5vw;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;


}

.texteDemo {
  position: absolute;
  top: 7vh;
  right: 0;
  margin: 2%;

}

#texteDemo:hover {
  font-size: 5.15vh;
  transition: all .2s ease-in-out;

}

.Hover{
  font-family: gotBold;
  color: rgb(0, 0, 0);
  font-size: 5vh;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-shadow:
  #FFDF66 1px 1px,
  #FFDF66 -1px 1px,
  #FFDF66 -1px -1px,
  #FFDF66 1px -1px;
  }


.notHover {
  font-family: gotBold;
  color: #FFDF66;
  text-align: center;
  font-size: 5vh;
  display: inline-block;
  cursor: pointer;
}

.apropos {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2%;

}

#texteApro:hover {
  font-size: 5.15vh;
  transition: all .2s ease-in-out;
}

.texteContact {
  position: absolute;
  top: 14vh;
  right: 0;
  margin: 2%;

}

#texteContact:hover {
  font-size: 5.15vh;
  transition: all .2s ease-in-out;

}

.texteApro {
  font-family: gotBold;
  color: #FFDF66;
  text-align: justify;
  text-justify: inter-word;
  width: 60vw;
  font-size: 2.5vw;
  transition: all .2s ease-in-out;
}

.texteApro {
  font-family: gotBold;
  color: #FFDF66;
  text-align: justify;
  text-justify: inter-word;
  width: 60vw;
  font-size: 2.5vw;
  transition: all .2s ease-in-out;
}

.logoLanding {
  max-width: 85vw;
  max-height: 60vh;
  margin-top: 0vh;

}

@media only screen and (max-width: 600px) {


  .texteDemo {
    position: absolute;
    top: 4vh;
    right: 0;
    margin: 2%;
  }

  #texteDemo:hover {
    font-size: 3vh;

  }

  .notHover {
    font-size: 3vh;
  }
  .Hover {
    font-size: 3vh;
  }
  #texteApro:hover {
    font-size: 3vh;
  }

  .texteContact {
    position: absolute;
    top: 8vh;
    right: 0;
    margin: 2%;

  }

  #texteContact:hover {
    font-size: 3vh;

  }

  .texteApro {
    font-family: gotBold;
    color: #FFDF66;
    text-align: justify;
    text-justify: inter-word;
    width: 80vw;
    font-size: 4vw;
    transition: all .2s ease-in-out;
  }

  .logoLanding {
    max-width: 85vw;
    max-height: 60vh;
    margin-top: 0vh;
  }
}