
@font-face {
    font-family: gotBold;
    src: url(Gotham-Bold.otf);
  }
  
  
  @font-face {
    font-family: gotLight;
    src: url(Gotham-Light.otf);
  } 
  /* ////////////////////////// */
  body{
    background: black;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
  }
  .box{
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);

  }
  
  .box2{
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  
    }
  
  .black{
    background: black
  }
  
  .container{
    display: flex;
    justify-content: center;
  }
   
  .cover{
 
  }
  
  .logo{
    opacity: 1;
    position: absolute;
    top: 0;
    width: 6vw;
    margin: 2%;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
  
  .logoOff{
    opacity: 0;
    position: absolute;
    top: 0;
    width: 6vw;
    margin: 2%;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
  
  .texte{
    font-family: gotBold;
    color: white;
    position: absolute;
    margin-top: -10vh;
  }
  
  .texte2{
    font-family: gotLight;
    color: white;
    position: absolute;
    margin-top: -8vh;
  }
  
  .vide{
   height:  100vh
  
  }

  
  
  
  
  .anim0{
    width: 33vw;
    margin-top: 100px;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }



/* 
  /////////////////////////////////////////////////////// {} */


.grosTexte{
  
  background: rosybrown
}

.bouton{
  background: red;
 width: 10vw;
}
.player{



}


svg:hover {
  fill: red;
}
.arrow{
  margin-top: 55vh;
  position: absolute;
   top: 50%;

  }

  .flecheGauche{
    
    position: fixed;
    top: 45%;
    left: 2%;
  }

    
  .flecheDroite{
    position: fixed;
    top: 45%;
    right: 2%;
    }

    .compteur{
     display: flex;
    justify-content: center;
    color: rgb(255, 230, 154);
    font-family: gotLight;  
    font-size: large;
  }
  


  #gauche{
    width: 6vw;
  }

  #droite{
    width: 6vw;
  }

  .player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .test4{
  width: 60vw;
  }
  .test5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

  .test2{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .test3{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .logoLanding{
    width: 60vw;
    }

    .texteDemo{
      position: absolute;
      bottom: 3%;
      text-align: center;
      width: 100%;
      cursor: pointer;
}

.texteDemo2{
  font-family: gotBold;
  color: rgb(255, 230, 154);
text-align: center;
font-size: 3vw;
}


.texteDemo2Hover{
  font-family: gotBold;
color: rgb(0, 0, 0);
font-size: 3vw;
text-align: center;
text-shadow:
  -0.5px -0.5px 0 rgb(255, 230, 154),
  0.5px -0.5px 0 rgb(255, 230, 154),
  -0.5px 0.5px 0 rgb(255, 230, 154),
  0.5px 0.5px 0 rgb(255, 230, 154);
}
.apropos{
  position: absolute;
  top:0;
  right: 0;
  margin: 2%;
  cursor: pointer;
}



.apropos2Hover{
  font-family: gotBold;
  color: rgb(255, 230, 154);
font-size: 3vw;
text-align: center;
text-shadow:
  -0.5px -0.5px 0 rgb(255, 230, 154),
  0.5px -0.5px 0 rgb(255, 230, 154),
  -0.5px 0.5px 0 rgb(255, 230, 154),
  0.5px 0.5px 0 rgb(255, 230, 154);
}


.apropos2{
  font-family: gotBold;
  color: rgb(255, 230, 154);
font-size: 3vw;
text-align: center;
}
.apropos2Hover{
  font-family: gotBold;
color: rgb(0, 0, 0);
font-size: 3vw;
text-align: center;
text-shadow:
  -0.5px -0.5px 0 rgb(255, 230, 154),
  0.5px -0.5px 0 rgb(255, 230, 154),
  -0.5px 0.5px 0 rgb(255, 230, 154),
  0.5px 0.5px 0 rgb(255, 230, 154);
}

.cover1{

  background: red;
}

.blackText{

color: rgb(0, 0, 0);
}
